.title {
    color: brown;
    text-align: center;
}
.main-container {
    display: flex;
}
.container-item {
    border: 1px solid;
    width: 100%;
    color: black;
}
.container-item>h2 {
    text-align: left;
    padding: 25px;
}
.container-item>p {
    padding: 25px;
    font-weight: bold;
}
.container-form {
    border: 10px black;
    background-color: aqua;
    padding: 25px;
}

.container-result {
    border:10px black;
    background-color: aqua;
    padding: 25px;
    text-align: center;
}
.container-factor {
    text-align: center;
    background-color: aqua;
}